footer.footer
    .footer-socials
        a(href='https://www.facebook.com/imujjwal96', target='_blank')
            i.fa.fa-facebook
        a(href='https://www.twitter.com/imujjwal96', target='_blank')
            i.fa.fa-twitter
        a(href='https://www.instagram.com/ujjwalbhardwaj96', target='_blank')
            i.fa.fa-instagram
        a(href='https://plus.google.com/+UjjwalBhardwaj96', target='_blank')
            i.fa.fa-google-plus
        a(href='https://github.com/imujjwal96', target='_blank')
            i.fa.fa-github
