nav.navbar.navbar-toggleable-md.navbar-dark.bg-inverse.hidden-md-up
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    img#title.hidden-md-up(src='/images/logo.png', title='Ujjwal Bhardwaj')
    #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
            - if(currentUrl === '/')
                li.nav-item.active
                    a.nav-link(href='/')
                        | Home
                        span.sr-only (current)
            - else
                li.nav-item
                    a.nav-link(href='/') Home
            - if(currentUrl === '/posts')
                li.nav-item.active
                    a.nav-link(href='/posts')
                        | Blog
                        span.sr-only (current)
            - else
                li.nav-item
                    a.nav-link(href='/posts') Blog
            li.nav-item
                a.nav-link(href='https://drive.google.com/open?id=17rtrOPVi6GbLsBE2KiO7woL2s5nHSx1D', target="_blank") Resume