nav.navbar.navbar-inverse
    .container
        .navbar-header
            a(class='navbar-brand', href='/')
                img(class='img-responsive', src='/images/logo.png', title='Ujjwal Bhardwaj', alt='Ujjwal Bhardwaj', width='300px')
