nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            a(class='navbar-brand', href='/')
                img(class='img-responsive', src='/images/logo.png', width='150px')
