.col-md-4.left-side.hidden-sm-down
    .div
        a(href='/')
            img#logo(src="/images/logo2.png", title='Ujjwal Bhardwaj')
        p
            a.links(href='/post/about-me', target='_blank') About me
            a.links(href='mailto:ujjwalbhardwaj702@gmail.com', target='_blank') Contact me
        p.certificates
            img.logoAWS(src="/images/aws_logo_white.png")
            img.logoAWS(src="/images/aws_saa_white.png")
            img.logoAWS(src="/images/aws_soa_white.png")
            img.logoAWS(src="/images/aws_da_white.png" style="width: 55.032%;")
