.col-md-4.left-side.hidden-sm-down
    .div
        a(href='/')
            img#logo(src="/images/logo2.png", title='Ujjwal Bhardwaj')
        p#tagline Student | Freelance Web Developer | Open Source Developer
        p
            a.links(href='/post/about-me', target='_blank') About me
            a.links(href='/resume', target='_blank') Resume
        p.socials
            a(href='mail:ujjwalb1996@gmail.com', target='_blank')
                i.fa.fa-envelope
            a(href='https://www.facebook.com/imujjwal96', target='_blank')
                i.fa.fa-facebook
            a(href='https://in.linkedin.com/in/ujjwal-bhardwaj-b6b46a80', target='_blank')
                i.fa.fa-linkedin
            a(href='https://www.instagram.com/ujjwalbhardwaj96', target='_blank')
                i.fa.fa-instagram
            a(href='https://github.com/imujjwal96', target='_blank')
                i.fa.fa-github
        p.certificates
            img.logoAWS(src="/images/aws_logo_white.png")
            img.logoAWS(src="/images/aws_saa_white.png")
