extends layout

block content
    .container-fluid
        include includes/leftside
        .col-md-8.right-side
            +blogpostList(posts, 2)
            //nav(aria-label='Page navigation example')
                ul.pagination
                    li.page-item.disabled
                        a.page-link(href='#') Previous
                    li.page-item.active
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') Next
            footer
                | © 2017 | Ujjwal Bhardwaj. All Rights Reserved.

