doctype html
html
    head
        title Resume | Ujjwal Bhardwaj
        meta(name='viewport', content='width=device-width')
        meta(name='description', content='The Curriculum Vitae of Joe Bloggs.')
        meta(charset='UTF-8')
        link(type='text/css', rel='stylesheet', href='/stylesheets/resume.css')
        link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        //if lt IE 9
          script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    body#top
        #cv
            .mainDetails
                #name
                    h1.quickFade.delayTwo UJJWAL BHARDWAJ
                    h2.quickFade.delayThree
                        a(href='https://github.com/imujjwal96', target='_blank') https://github.com/imujjwal96
                #contactDetails.quickFade.delayFour
                    ul
                        li
                            i.fa.fa-envelope &nbsp;
                            a(href='mailto:joe@bloggs.com', target='_blank') ujjwalb1996@gmail.com
                        li
                            i.fa.fa-phone &nbsp;&nbsp;&nbsp;
                            a(href='tel:8800370395') +91-8800370395
                .clear
            #mainArea.quickFade.delayFive
                p(style='text-align:center')
                    strong Residence: &nbsp;
                    | 702, Surya Kanishk Tower Plot No. 26, Sector 4, Vaishali, Ghaziabad (U.P)
                section
                    .sectionTitle
                        h1 EDUCATION
                    .sectionContent
                        article
                            h2 B. Tech. - Computer Science and Engineering
                            p.subDetails August 2014 - Present
                            p
                                | Bharati Vidyapeeth College of Engineering
                                br
                                | Guru Gobind Singh Indraprastha University, Delhi
                            p(style='float: right')
                                | Percentage: 93.2%
                        article
                            h2 Class 12th (2014) – CBSE
                            p
                                | St. Xavier’s Sr. Sec. School, Delhi
                            p(style='float:right')
                                | CGPA 8.8
                        article
                            h2 Class 10th (2012) – CBSE
                            p
                                | St. Xavier’s Sr. Sec. School, Delhi
                    .clear
                section
                    .sectionTitle
                        h1 LANGUAGES AND TECHNOLOGIES
                    .sectionContent
                        ul.keySkills
                            li
                                strong Languages: &nbsp;
                                | PHP, Java, C, JavaScript, C++, HTML, CSS
                            li
                                strong Databases: &nbsp;
                                | SQL, MongoDB
                            li
                                strong Web Servers: &nbsp;
                                | Apache, IIS, NGINX
                            li
                                strong Platforms/Frameworks: &nbsp;
                                | Android SDK, NodeJS, ExpressJS, Bootstrap, Google APIs, AJAX, Version Control System (Git)
                            li
                                | Also, familiar with technologies like XML, JSON, Jade, Handlebars, Redis Database and Testing Frameworks including PHPUnit and JUnit
                    .clear
                section
                    .sectionTitle
                        h1 TECHNICAL EXPERIENCES (Projects)
                    ul.keySkills
                        li
                            strong prelimQuiz – &nbsp;
                            | An open source, self-hosted quiz script built over technologies like Object Oriented PHP, MySQL and MongoDB (open source - https://github.com/imujjwal96/prelimQuiz)
                        li
                            strong BRIME – &nbsp;
                            | An open source, self-hosted note taking application that lets you store notes on your   phone and on the cloud. Contributed primarily on the Backend (responsible for creating a RESTful API using Object Oriented PHP, MySQL and MongoDB). (open source – https://github.com/imujjwal96/brimeAPI  & https://github.com/imujjwal96/Brime )
                        li
                            strong PurpleWall – &nbsp;
                            | An open source, self-hosted blog publishing web application. Contributed on the Backend (responsible for creating a RESTful API using MongoDB, NodeJS and ExpressJS) (open source – https://github.com/syedsaadh/PurpleWall )
                        li
                            strong Online Quiz Script – &nbsp;
                            | (open source - https://github.com/imujjwal96/digihuntrex ), demo online at http://www.digihuntrex.tk
                        li
                            | Also, familiar with technologies like XML, JSON, Jade, Handlebars, Redis Database and Testing Frameworks including PHPUnit and JUnit
                    .clear
                section
                    .sectionTitle
                        h1 COURSES AND CERTIFICATIONS
                    ul(style='padding-left: 20px')
                        li
                            a(href='https://courses.edx.org/certificates/02216ba2784a4bb5ae877fadfa1b58af', target='_blank') edX – MIT’s Software Construction in Java (MITx - 6.005.1x)
                        li
                            a(href='https://s3.amazonaws.com/verify.edx.org/downloads/36a1361db9834492a121cb3fa7df2fb4/Certificate.pdf', target='_blank') edX – Harvard’s Introduction to Computer Science (CS50x 2015)
                    .clear
                section
                    .sectionTitle
                        h1 ADDITIONAL EXPERIENCES
                    ul(style='padding-left: 20px')
                        li Web Administrator at BVPCSI (Aug 2015 – Present)
                        li Event Manager at BVEST (2016)
                        li Event Manager at CSI's RSC Region - 1 (2016)
                        li Event Coordinator at BVEST (2015)
                    .clear
                div(id="save")
                    a(href="/ujjwalbhardwaj-resume30102016.pdf", download, style='color:#ffffff')
                        | SAVE AS PDF
        script(type='text/javascript').
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        script(type='text/javascript').
            var pageTracker = _gat._getTracker("UA-3753241-1");
            pageTracker._initData();
            pageTracker._trackPageview();
