doctype html
html
    head
        title Resume | Ujjwal Bhardwaj
        meta(name='viewport', content='width=device-width')
        meta(name='description', content='The Curriculum Vitae of Ujjwal Bhardwaj.')
        meta(charset='UTF-8')
        link(type='text/css', rel='stylesheet', href='/stylesheets/resume.min.css')
        link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        //if lt IE 9
          script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    body#top
        #cv
            .mainDetails
                #name
                    h1.quickFade.delayTwo UJJWAL BHARDWAJ
                    h2.quickFade.delayThree
                        a(href='https://github.com/imujjwal96', target='_blank') https://github.com/imujjwal96
                #contactDetails.quickFade.delayFour
                    ul
                        li
                            i.fa.fa-envelope &nbsp;
                            a(href='mailto:ujjwalb1996@gmail.com', target='_blank') ujjwalb1996@gmail.com
                        li(style="text-align:right") Bengaluru, India
                .clear
            #mainArea.quickFade.delayFive
                section
                    .sectionTitle
                        h1 WORK EXPERIENCE
                    .sectionContent
                        article
                            h2(style='float:right') Amazon
                            h2 Software Development Engineer
                            p.subDetails September 2019 - Present
                            p
                                | Currently working in the Amazon EasyShip team, under the Seller Central India organization.
                                | EasyShip is a set of services for the sellers, allowing them to use Amazon logistics for
                                | the delivery and returns of orders.
                                br
                                | We are primarily responsible for building BI tools and dashboards for the EasyShip sellers.
                        article
                            h2(style='float:right') Amazon Web Services
                            h2 Cloud Support Associate (Big Data)
                            p.subDetails June 2018 - Present
                            p
                                | Working in the Big Data team assisting businesses and enterprises with several AWS
                                | Services including EMR and Glue
                                br
                                | I am also contributing in the development of various internal support tools for AWS.
                        article
                            h2(style='float:right') FOSSASIA
                            h2 Student Developer (Google Summer of Code)
                            p.subDetails May 2017 - August 2017
                            p
                                | My project under the mentoring organization was to develop an automated documentation
                                | generation and deployment service. The documentation ranges for minimal markdown files to
                                | API documentation of the project.
                                br
                                | Project Link:-&nbsp;
                                a(href="https://github.com/fossasia/yaydoc" style="color: #007fdf" target="_blank") https://github.com/fossasia/yaydoc
                        article
                            h2(style='float:right') ICMR, Government of India
                            h2 Student Developer
                            p.subDetails August 2017 - August 2018
                            p
                                | Contributed to the development of a government sanctioned project which was approved
                                | by the ministry of Indian Council of Medical Research for further implementation after the SIH 2017
                    .clear
                section
                    .sectionTitle
                        h1 CERTIFICATIONS
                    ul(style='padding-left: 20px')
                        li
                            a(style="font-weight:bold") AWS Certified Developer - Associate
                        li
                            a(style="font-weight:bold") AWS Certified Solutions Architect - Associate
                    .clear
                section
                    .sectionTitle
                        h1 EDUCATION
                    .sectionContent
                        article
                            h2 B. Tech. - Computer Science and Engineering
                            p.subDetails August 2014 - Present
                            p
                                | Bharati Vidyapeeth College of Engineering
                                br
                                | Guru Gobind Singh Indraprastha University, Delhi
                            p(style='float: right')
                                | Percentage: 93.2%
                        article
                            h2 Class 12th (2014) – CBSE
                            p
                                | St. Xavier’s Sr. Sec. School, Delhi
                            p(style='float:right')
                                | CGPA 8.8
                        article
                            h2 Class 10th (2012) – CBSE
                            p
                                | St. Xavier’s Sr. Sec. School, Delhi
                    .clear
                section
                    .sectionTitle
                        h1 LANGUAGES AND TECHNOLOGIES
                    .sectionContent
                        ul.keySkills
                            li
                                strong Languages: &nbsp;
                                | PHP, Java, JavaScript, Bash, Python
                            li
                                strong Databases: &nbsp;
                                | SQL, MongoDB, DynamoDB, RDS
                            li
                                strong Web Servers: &nbsp;
                                | Apache, IIS, NGINX
                            li
                                strong Platforms/Frameworks: &nbsp;
                                | NodeJS, ExpressJS, Socket.IO, jQuery, Laravel, Docker, Travis CI, AWS SDK
                            li
                                strong Cloud Services (AWS): &nbsp;
                                | Lambda, EMR, Glue, Athena, VPC
                            li
                                | Also, familiar with technologies like Serverless Architectures, AWS SageMaker, Kubernetes, Heroku and Testing Frameworks - PHPUnit and JUnit
                    .clear
                section
                    .sectionTitle
                        h1 TECHNICAL EXPERIENCES (Projects)
                    ul.keySkills
                        li
                            strong phickle - &nbsp;
                            | A light weight PHP micro-framework with an MVC based architecture (open source -
                            a(href='https://github.com/imujjwal96/phickle' target='_blank') https://github.com/imujjwal96/phickle
                            | )
                        li
                            strong prelimQuiz – &nbsp;
                            | An open source, self-hosted quiz script built over technologies like Object Oriented PHP, MySQL and MongoDB (open source -
                            a(href='https://github.com/imujjwal96/prelimquiz' target='_blank') https://github.com/imujjwal96/prelimQuiz
                            | )
                        li
                            strong BRIME – &nbsp;
                            | An open source, self-hosted note taking application that lets you store notes on your   phone and on the cloud. Contributed primarily on the Backend (responsible for creating a RESTful API using Object Oriented PHP, MySQL and MongoDB). (open source –
                            a(href='https://github.com/BrimeNotes' target='_blank') https://github.com/BrimeNotes
                            | )
                        li
                            strong Herokuception – &nbsp;
                            | An open source web application that deploys static websites to Heroku using a simple form, online at (
                            a(href='https://herokuception.herokuapp.com' target='_blank') https://herokuception.herokuapp.com
                            | )
                        li
                            strong sftp-autodeploy - &nbsp;
                            | An open source bash script that when called by a Continuous Integration Application, automatically deploys web applications to the server at each commit made to the Github repository. (
                            a(href='https://github.com/imujjwal96/sftp-autodeploy' target='_blank') https://github.com/imujjwal96/sftp-autodeploy
                            | )
                        li
                            strong Online Quiz Script – &nbsp;
                            | (open source -
                            a(href='https://github.com/imujjwal96/digihuntrex' target='_blank') https://github.com/imujjwal96/digihuntrex
                            | ), demo online at &nbsp;
                            a(href='http://www.digihuntrex.ga' target='_blank') http://www.digihuntrex.ga
                    .clear
                section
                    .sectionTitle
                        h1 ADDITIONAL EXPERIENCES
                    ul(style='padding-left: 20px')
                        li Mentor at Google Code-In 2017 (Nov 2017 - Jan 2018)
                        li Open Source Contributor at ownCloud (Feb 2017 - Present)
                        li 2nd Runner Up - Smart India Hackathon'17 (ICMR)
                        li Web Administrator at BVPCSI (Aug 2015 - May 2017)
                        li Event Manager at BVEST (2016)
                        li Event Manager at CSI's RSC Region - 1 (2016)
                        li Event Coordinator at BVEST (2015)
                    .clear
                div(id="save")
                    a(href="/resume-ujjwalbhardwaj-2018-11.pdf", download, style='color:#ffffff')
                        | SAVE AS PDF
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-87329450-1', 'auto');
            ga('send', 'pageview');
